@using WebApplication1.ViewModel
@model UserSettingsVM
@{
    ViewData["Title"] = "AddDayOfEndMonth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="padding-fixed container">
    <form asp-action="AddDayOfEndMonth " enctype="multipart/form-data" class="pb-3">
        <div class="form-group pb-3">
            <label asp-for="DayOfEndMonth" class="text-label  pb-3"></label>
        <input asp-for="DayOfEndMonth" class="form-control">
        <span class="form-text text-danger" asp-validation-for="DayOfEndMonth"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a type="button" class="btn btn-outline-warning" asp-action="Index">Back To sittings</a>

</form>
