@using WebApplication1.ViewModel
@model UserSettingsVM
@{
    ViewData["Title"] = "AddMonthlySalary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="padding-fixed container">
<form asp-action="AddMonthlySalary" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="MonthlySalary"></label>
        <input asp-for="MonthlySalary" class="form-control">
        <span class="form-text text-danger" asp-validation-for="MonthlySalary"></span>
    </div>
 

    <button type="submit" class="btn btn-primary">Submit</button>
    <a type="button" class="btn btn-outline-info" asp-action="Index">Back To sittings</a>

</form>

