
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<br />

<a class="btn btn-success m-4" role="button" asp-action="AddMonthlySalary">AddMonthlySalary</a>
<br />

<a class="btn btn-success m-4" role="button" asp-action="AddDayOfEndMonth">AddDayOfEndMonth</a>
<br />

<a class="btn btn-danger m-4" role="button" asp-controller="Auth" asp-action="SignOut">SignOut</a>