
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="padding-fixed container">
<a class="btn settings-btn " role="button" asp-action="AddMonthlySalary">Add Monthly Salary</a>
<br />

<a class="btn settings-btn " role="button" asp-action="AddDayOfEndMonth">Add Day Of End Month</a>
<br />

<a class="btn settingsignout-btn" role="button" asp-controller="Auth" asp-action="SignOut">Sign Out</a>
 