
@{
    ViewData["Title"] = "CheckInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div asp-validation-summary="All" class="text-danger"></div>
<div class="main-agileinfo">
	<div class="agileits-top">


		<h1>password reset please check your inbox</h1>

		<p> <a href="https://mail.google.com/mail/u/0/#inbox">Go to your Inbox</a></p>

	</div>
</div>
