@using WebApplication1.ViewModel
@model ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}




<form class="login" asp-action="SendEmail">
	<h3 class="text-center head-auth">inter your Email</h3>
	<input asp-for="Email" class="input-auth" placeholder="Email">
	<div asp-validation-summary="All" class="text-danger"></div>

	<div class="text-center">

		<button class="button-auth">Reset Password</button>
	</div>

</form>
