@using WebApplication1.ViewModel
@model LoginVM

@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<form class="login" asp-action="LogIn">
    <h3 class="text-center head-auth">Login in Thriftiness</h3>
    <input asp-for="Email" class="input-auth" placeholder="Email">
    <input asp-for="Password" class="input-auth" placeholder="Password">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="text-center">

        <button class="button-auth">Log in</button>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a asp-action="ForgetPassword" class="a-auth"> Forgot password?</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <button asp-action="GoogleLogIn" class="login-with-google-btn">
                    Google
                </button>
            </div>
        </div>

    </div>
    <div class="container col-lg-12 col-md-12 col-sm-12 text-center">
        <a asp-action="Register" class="a-auth"> Sign Up !</a>
    </div>
</form>