@using WebApplication1.ViewModel
@model RegisterVM
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form class="login" asp-action="Register">
    <h3 class="text-center head-auth animate__backInDown">Register in Thriftiness</h3>
    <input asp-for="DisplayName" class="input-auth" placeholder="Name">
   
    <input asp-for="Email" class="input-auth" placeholder="Email">
    <input asp-for="Password" class="input-auth" placeholder="Password">
    <input asp-for="ConfirmPassword" class="input-auth" placeholder="Confirm Password">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="text-center">

        <button class="button-auth ">Register</button>
    </div> 
    <div class="text-center py-4">
        <h3>
           already have an Account?
            <span>
                <a asp-action="LogIn" class="a-auth">  Log In ! </a>
            </span>
        </h3>
        
    </div>
  
</form>