@using WebApplication1.ViewModel
@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}






<form class="login" asp-action="ResetPassword">
    <h3 class="text-center head-auth">Reset your Password in Thriftiness</h3>
	<input asp-for="Password" class="input-auth" placeholder="Password">
	<span asp-validation-for="Password"></span>
	<input asp-for="ConfirmPassword" class="input-auth" placeholder="Confirm Password">
	<span asp-validation-for="ConfirmPassword"></span>
    <div class="text-center">

		<button class="button-auth">Reset</button>
    </div>
  
</form>