@using WebApplication1.ViewModel
@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div asp-validation-summary="All" class="text-danger"></div>
<div class="main-agileinfo">
	<div class="agileits-top">

		<form asp-action="ResetPassword">

			<label asp-for="Password"></label>

			<input class="text email" asp-for="Password" placeholder="Email">
			<span asp-validation-for="Password"></span>
			<br />
			<label asp-for="ConfirmPassword"></label>

			<input class="text" asp-for="ConfirmPassword" placeholder="Password">
			<span asp-validation-for="ConfirmPassword"></span>
			<br />
			<input type="submit" value="Reset">
		</form>


	</div>
</div>
