@using WebApplication1.ViewModel
@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}






<form class="login" asp-action="ResetPassword">
    <h3 class="text-center head-auth">Reset your Password in Thriftiness</h3>
	<input asp-for="Password" class="input-auth" placeholder="Password">
    <div asp-validation-summary="All" class="text-danger"></div>
	<input asp-for="ConfirmPassword" class="input-auth" placeholder="Confirm Password">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="text-center">

		<button class="button-auth">Reset</button>
    </div>
  
</form>