@using WebApplication1.ViewModel
@model SaveGoalVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="padding-fixed container">

<form asp-action="Createe" enctype="multipart/form-data">
    <div class="form-group pb-3">
            <label asp-for="TitleGoal" class="text-label"></label>
        <input asp-for="TitleGoal" class="form-control">
        <span class="form-text text-danger" asp-validation-for="TitleGoal"></span>
    </div>
 

    <div class="form-group pb-3">
            <label asp-for="TargetAmount" class="text-label"></label>
        <input asp-for="TargetAmount" class="form-control">
        <span class="form-text text-danger" asp-validation-for="TargetAmount"></span>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
        <a type="button" class="btn btn-outline-primary" asp-action="Index">Back To List</a>

</form>

  </div>
