@using WebApplication1.ViewModel
@model SaveGoalVM
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Delete" enctype="multipart/form-data">
    <input asp-for="User_Id" hidden class="form-control">
   
    <div class="form-group">
        <label asp-for="TitleGoal"></label>
        <input asp-for="TitleGoal" class="form-control">
        <span class="form-text text-danger" asp-validation-for="TitleGoal"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="TargetAmount"></label>
        <input asp-for="TargetAmount" class="form-control">
        <span class="form-text text-danger" asp-validation-for="TargetAmount"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit Delete </button>
    <a type="button" class="btn btn-outline-info" asp-action="Index">Back To List</a>

</form>