
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>@ViewData["Title"]</title>
	<link rel="icon" href="~/imges/download.png">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/authstyle.css" rel="stylesheet" />
</head>
<body>
	<!-- main -->
	

		@RenderBody()



    <!-- //main -->
 
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

	@await RenderSectionAsync("ValidtionForm", required: false)
</body>
</html>