@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;1,500&display=swap");

.text-color {
    font-size: x-large;
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    margin-bottom: 60px;
    font-family: "Poppins", sans-serif !important;
    font-weight: 900 !important;
    font-style: normal;
    background: linear-gradient(#00e7b5, #155fff);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    white-space: nowrap;
}

.dir-navbar {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width:768px) {
    .dir-navbar {
        justify-content: center;
    }

    .img-nav {
        height: auto !important;
        width: 80% !important;
    }
}

.head-auth {
    background: linear-gradient(#3a92c8, #51439d);
    -webkit-background-clip: text;
    color: transparent;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12345678899;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-nav {
    height: 70px;
    width: auto;
}

.alink {
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
    transition: 0.5s;
    z-index: 1;
}

    .alink:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #0fb7ff;
        border-bottom: 2px solid #0fb7ff;
        transform: scaleY(2);
        opacity: 0;
        transition: 0.3s;
    }

    .alink:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0fb7ff;
        transform: scale(0);
        opacity: 0;
        transition: 0.3s;
        z-index: -1;
    }

    .alink:hover {
        color: #fff !important;
    }

        .alink:hover:before {
            transform: scaleY(1);
            opacity: 1;
        }

        .alink:hover:after {
            transform: scaleY(1);
            opacity: 1;
        }

.h4-skills {
    position: relative;
    z-index: 2;
}

    .h4-skills::after {
        content: '';
        width: 50%;
        height: 3px;
        background: #079467;
        position: absolute;
        bottom: -20px;
        left: 0;
    }

    .h4-skills::before {
        content: '';
        text-align: center;
        width: 100%;
        height: 3px;
        background: rgb(106, 106, 106);
        position: absolute;
        bottom: -20px;
        left: 0;
    }

.border-section {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.settings-btn {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

    .settings-btn:hover {
        background-color: #ddd;
        color: black;
        transition: background-color 0.5s linear;
    }

.settingsignout-btn {
    display: block;
    width: 100%;
    border: none;
    background-color: #D04848;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

    .settingsignout-btn:hover {
        background-color: #ddd;
        color: black;
        transition: background-color 0.5s linear;
    }

body .vertical-centered-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

    body .vertical-centered-box:after {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }

    body .vertical-centered-box .content {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        font-size: 0;
    }

.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    margin-left: -60px;
    margin-top: -60px;
}

.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    animation: rotate 1.2s infinite linear;
}

    .loader-line-mask .loader-line {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    }

#particles-background,
#particles-foreground {
    left: -51%;
    top: -51%;
    width: 202%;
    height: 202%;
    transform: scale3d(0.5, 0.5, 1);
}

#particles-background {
    background: #2c2d44;
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background: linear-gradient(to right, rgba(69, 144, 112, 0.858),rgba(69, 105, 144, 0.694)) !important;
    -webkit-transition: background-color 300ms !important;
    -moz-transition: background-color 300ms !important;
    transition: background-color 300ms !important;
    transition: width .6s ease;
}

.padding-fixed {
    padding-top: 10pc;
}

.progress {
    font-size: 1rem !important;
    height: 2rem !important;
}